@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
body{
  margin: 0;
  background-color: #FEFFF1;
  font-family: 'Kaushan Script', cursive, 'Kiwi Maru', serif;

}
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
main#main_title{
  color: #6A5050;
  margin: 60px auto;
  text-align: center;
  width: 60%;
}
h1{
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}
h2{
  margin: 50px 0 10px;
  font-size: 16px;
  /* font-family: ; */
  text-align: center;
}
h3{
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Kiwi Maru', serif;
}

h4{
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Kiwi Maru', serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

.toggle_icon{
  width: 16px;
  vertical-align: middle;
}


.input{
  width: 80%;
  height: auto;
  padding: 1.5em 1em 2.5em;
  margin: 2em auto;
  background: rgb(255, 255, 255);
  /* box-shadow: 0 2px 5px rgba(81, 51, 30, 0.689); */
  text-align: left;
}

.output{
  width: 100%;
  height: 60px;
  padding: 0 1em;
  margin: 2em auto;
  color: #6a5050;
  border-radius: 20px;
  border: solid 2px #6a5050;/*点線*/
  background: #fff;
  /* box-shadow: 0 2px 5px rgba(81, 51, 30, 0.689); */
  text-align: center;
  box-shadow: 0 10px 15px 0 rgba(112, 77, 56, 0.5);

}

.search{
  width: 100%;
  height: auto;
  padding: 1.5em 1em 2.5em;
  margin: 2em auto;
  color: #6a5050;
  border: dashed 2px #573333b3;/*点線*/
  background: rgb(255, 255, 255);
  /* box-shadow: 0 2px 5px rgba(81, 51, 30, 0.689); */
  text-align: center;
}
#toggle {
  display: none;
  cursor: pointer;
  }
#menu {
  width: 70%;
  display: none;
  margin: 2em auto;
  list-style: none;
  }

#account_menu {
  width: 70%;
  display: block;
  margin: 2em auto;
  list-style: none;
  }
.account_input{
  display: block;
  margin-left: 5%;
}

#toggle:checked + #menu {
  display: block;
  }

.genre{
  float: left;
  margin-left: 2%;
}

.sub{
  display: block;
  margin-left: 10%;
}

hr.list_search{
  display: block;
  width: 100%;
  margin: 22px auto;
  height: 1px;
  background-color: #8c6e6e;
  border: 0;
}

hr.top{
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #6a5050;
  border: dashed  2px #FEFFF1;

}


.list{
  display: flex;
}

.image_frame{
  width: 30%;
  height: auto;
  padding: 0.5em 1em 0.5em;
  margin: 2em 10px;
  color: #6a5050;
  border: solid 2px #573333b3;/*点線*/
  background: rgb(255, 255, 255);
  /* box-shadow: 0 2px 5px rgba(81, 51, 30, 0.689); */
  text-align: center;
}

.receipt{
  margin: 1px ;
  width: 100%;
}

input[type=text]{
  margin: 0 20px 20px 10px;
}


/* //////////////////////// *
/* チェックボックス01 */
input[type=checkbox] {
  display: none;
}
.check_genre {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 25px;
  position: relative;
  width: auto;
}
.check_genre::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.check_genre::after {
  border-right: 3px solid #ed7a9c;
  border-bottom: 3px solid #ed7a9c;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -6px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}
input[type=checkbox]:checked + .check_genre::after {
  opacity: 1;
}
/* //////////////////////// *
/* チェックボックス01 */
input[type=radio] {
  display: none;
}
.color_genre {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px 30px;
  position: relative;
  width: auto;
  background-color: #d9f0f7;
  border-radius: 10px;
  letter-spacing: 1px;
}
.color_genre::before {
  background:#fff;
  border: 2px solid #6a5050;
  content: '';
  display: block;
  border-radius: 20px;
  height: 20px;
  left: 2px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 20px;
}
.color_genre::after {
  border-right: 3px solid #6a5050;
  border-bottom: 3px solid #6a5050;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -6px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}
input[type=radio]:checked + .color_genre::after {
  opacity: 1;
}


input[type=button]{
  margin: 0 10%;
}